<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script
    src="https://code.jquery.com/jquery-3.5.1.js"
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"
  ></script>
    <title>Document</title>
</head>
<body>
    <h1>Signup</h1>
    <input type = "text" placeholder = "name을 입력하시오" id = "name">
    <input type = "text" placeholder = "email을 입력하시오" id = "email">
    <input type = "password" placeholder = "password을 입력하시오" id = "password">
    <input type = "button" value = "signup" id = "signupBtn">
    <input type = "button" value = "login" id = "loginBtn">
    <script type = "text/javascript" src = "/script/signup.js"></script>
</body>
</html>